.App-wrapper {
  display: grid;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;

  grid-template-areas: 
  "h h" 
  "n c";

  color: #ffff;

  width: 80%;
  min-height: 95vh;
  margin: 0 auto;
}

a {
  color: blue;
}

a:focus {
  color: skyblue;
}

p {
  padding: 0;
  margin: 0;
}

hr {
  background: #ffff;
}














